* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fc {
  font-family: "Gilroy" !important;
  /* background-color: darkgray */
}

.fc .fc-toolbar {
  background-color: inherit
}

.fc .fc-toolbar-title {
  font-size: 2.5rem;
  font-weight: 300;
}

.fc .fc-button {
  font-size: 0.8rem !important; /* Increases button text size */
  padding: 5px !important;     /* Increases button padding */
  border-radius: 999999px;
  background-color: #4B4B4B
}

/* 
.fc .fc-view-harness, 
.fc .fc-daygrid {
  background-color: darkgray; Calendar background
  border-radius: 10px; 
} 
*/

@media (max-width: 768px) {
/* Increase specificity with the following */
.fc .fc-toolbar-title {
  font-size: 1.75rem !important; /* Increases title size */
}

.fc .fc-button {
  font-size: 0.8rem !important; /* Increases button text size */
  padding: 5px !important;     /* Increases button padding */
}

.fc .fc-toolbar {
  padding: 10px !important;     /* Adjusts toolbar padding */
}
}
/* styles/globals.css */

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 500; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
}
